/*Footer*/

h3 {
    font-weight: normal;
}

#Foot_copyright {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #f1f1f1;
}

.foot {
    display: grid;
    grid-template-columns: 5fr 1fr;
    margin-top: 0px;
}

.foot>div {
    background: rgb(230, 223, 223);
    padding: 1em;
}

.foot>div:nth-child(odd) {
    background: rgb(8, 73, 73)
}

/*Social media icons*/

.iconF1 {
    height: 20px;
    width: auto;
    display: inline;
    margin-left: 70px;
    margin-right: 10px;
    margin-top: 5px;
}

.iconF {
    height: 25px;
    width: auto;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding-right: 15px;
}

#fb {
    position: relative;
    left: 20px
}

#yt {
    position: relative;
    left: 20px
}

#tw {
    position: relative;
    left: 20px
}

#in {
    position: relative;
    left: 20px
}

.linkF {
    margin-top: 0px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 17px;
    color: #ffffff;
}

